# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/tile_editor_SMFL/ipch
/tile_editor_SMFL/Debug
/tile_editor_SMFL/*.opensdf
